Source: wb-nm-helper
Section: admin
Priority: optional
Maintainer: Petr Krasnoshchekov <petr.krasnoshchekov@wirenboard.ru>
Build-Depends: debhelper (>= 10),
               dh-python,
               python3-all,
               python3-setuptools,
               pkg-config,
               config-package-dev,
               python3-pytest,
               python3-dbus,
               python3-dbusmock,
               python3-jsonschema,
               python3-pyparsing,
               python3-pycurl,
               python3-wb-common (>= 2.1.1)
Standards-Version: 4.5.0
Homepage: https://github.com/wirenboard/wb-nm-helper

Package: python3-wb-nm-helper
Section: python
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}, python3-pyparsing, python3-dbus, python3-pycurl
Description: Wirenboard network configuration python3 library
 The package includes utility functions for wb-nm-helper.

Package: wb-nm-helper
Architecture: all
Depends: ${misc:Depends},
         python3 (>= 3.5),
         python3-wb-nm-helper (= ${binary:Version}),
         wb-mqtt-homeui (>= 2.56.0~~),
         wb-mqtt-confed (>= 1.13.0),
         python3-wb-common (>= 2.1.1),
         network-manager,
         modemmanager,
         mobile-broadband-provider-info,
         wb-configs (>= 3.4.0),
         nftables,
         ifmetric
Description:  Wirenboard network configuration backend for wb-mqtt-confed.
 The package includes wb-mqtt-confed backend software for network interfaces management.
