Source: wb-nm-helper
Section: admin
Priority: optional
Maintainer: Wiren Board team <info@wirenboard.com>
Build-Depends: debhelper-compat (= 13),
               dh-python,
               python3-all,
               python3-setuptools,
               config-package-dev,
               python3-pytest <!nocheck>,
               python3-dbus,
               python3-dbusmock <!nocheck>,
               python3-gi,
               python3-jsonschema,
               python3-pyparsing,
               python3-pycurl,
               python3-dnspython,
               python3-wb-common (>= 2.1.1)
Standards-Version: 4.5.1
Homepage: https://github.com/wirenboard/wb-nm-helper

Package: python3-wb-nm-helper
Section: python
Architecture: all
Depends: wb-nm-helper (>= 1.39.0)
Description: transitional dummy package
 This is a transitional dummy package. It can safely be removed.

Package: wb-nm-helper
Architecture: all
Breaks: python3-wb-nm-helper (<< 1.39.0)
Replaces: python3-wb-nm-helper (<< 1.39.0)
Provides: python3-wb-nm-helper
Depends: ${misc:Depends},
         ${python3:Depends},
         python3-pyparsing,
         python3-dbus,
         python3-gi,
         python3-pycurl,
         python3-dnspython,
         python3-wb-common (>= 2.1.1),
         wb-mqtt-homeui (>= 2.56.0~~),
         wb-mqtt-confed (>= 1.13.0~~),
         network-manager,
         modemmanager,
         mobile-broadband-provider-info,
         wb-configs (>= 3.4.0),
         nftables,
         ifmetric
Description: Wirenboard network configuration backend for wb-mqtt-confed.
 The package includes wb-mqtt-confed backend software for network interfaces management.
