#!/usr/bin/make -f

export PYBUILD_NAME=wb-nm-helper

%:
	dh $@ --with config-package --with python3 --buildsystem pybuild

override_dh_installinit:
	dh_installinit --noscripts --name=wb-connection-manager
	dh_installinit --noscripts --name=wb-mqtt-nm-helper

override_dh_installsystemd:
	dh_installsystemd --name=wb-connection-manager
	dh_installsystemd --name=wb-mqtt-nm-helper
