[Unit]
Description=Network connections management service for Wiren Board devices
After=NetworkManager.service wb-hwconf-manager.service

[Service]
Type=simple
Restart=on-failure
RestartSec=2
User=root
ExecStart=/usr/lib/wb-connection-manager/wb-connection-manager
RestartPreventExitStatus=2 3 4 5 6 7

[Install]
WantedBy=multi-user.target
