[Unit]
Description=Virtual MQTT devices management service for Network Manager connections
After=NetworkManager.service

[Service]
Type=simple
User=root
ExecStart=/usr/bin/wb-mqtt-nm-helper

[Install]
WantedBy=multi-user.target
